<div class="edit-profile-container">
  <div class="block-title">
    <!-- <h4 class="grey"><i class="fa fa-check-square-o"></i>Chỉnh sửa thông tin cơ bản</h4> -->
    <div class="line"></div>
    
    <div class="line"></div>
  </div>
  <div class="edit-block">

    <form>
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <div class="form-group">
            <label for="firstname">Họ</label>
            <h5>{{user.firstname}}</h5>
          </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <div class="form-group">
            <label for="lastname">Tên</label>
            <h5>{{user.lastname}}</h5>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="form-group">
            <label for="email">Email</label>
            <h5>{{user.email}}</h5>
          </div>
        </div>
      </div>

      <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="form-group">
            <label for="birthday">Ngày sinh</label>
            <h5>{{user.birthday | date : 'dd-MM-yyyy'}}</h5>
          </div>
        </div>
      </div>

      <div class="row">

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <div class="form-group">
            <label class="custom-label">Giới tính: </label>
            <h5>{{user.gender}}</h5>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="form-group">
            <label for="address">Địa chỉ</label>
            <h5>{{user.address}}</h5>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="form-group">
            <label for="address">Giới thiệu</label>
            <h5>{{user.about}}</h5>
          </div>
        </div>
      </div>
    </form>

  </div>
</div>