<div class="titleEvent">
  <h3>Đóng góp</h3>
  <hr>

  <div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <label for="">Loại:</label>
      <select class="custom-select d-block w-100 selecttype" id="gender" required="" [(ngModel)]="dona.type"
        [ngModelOptions]="{standalone: true}">
        <option value="">Chọn...</option>
        <option>Tiền mặt</option>
        <option>Hiện vật</option>
      </select>
    </div>

    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <label for="">Tên vật phẩm:</label>
      <input type="text" class="form-control" [disabled]="dona.type == 'Tiền mặt' ? true : false" placeholder=""
        [(ngModel)]="dona.type == 'Tiền mặt' ? dona.type : dona.nameitem" [ngModelOptions]="{standalone: true}">
    </div>

    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
      <label for="" *ngIf="dona.type != 'Tiền mặt'" >Số lượng:</label>
      <label for="" *ngIf="dona.type == 'Tiền mặt'" >Số tiền:</label>
      <input class="form-control" placeholder="" [ngModel]="dona.quality | numberPipe" (ngModelChange)="dona.quality=$event" [ngModelOptions]="{standalone: true}">
    </div>

    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
      <label for="">Đơn vị:</label>
      <input class="form-control" placeholder="" [(ngModel)]="dona.type == 'Tiền mặt' ? 'VND' : dona.unit" [ngModelOptions]="{standalone: true}">
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <label for="">Ghi chú:</label>
      <input type="text" class="form-control" placeholder="" [(ngModel)]="dona.notice" [ngModelOptions]="{standalone: true}">
    </div>
  </div>

  <div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <ngb-alert [dismissible]="false" [style.visibility]="isSuccess ? 'visible' : 'hidden'">
        {{messalert}}
      </ngb-alert>
      <button class="btn btn-success" (click)="donate()">Đóng góp</button>
    </div>
  </div>
</div>