 .tab-pane .row{
     margin-top: 15px;
 }
 
 

 /*==================================================
  Activity Group CSS
  ==================================================*/

  .activity-dt{
    margin-top: 15px;
  }

  .his-dt h5{
    color: #0c2e8a;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .his-dt p{
    margin-bottom: 10px;
  }
  