<app-header></app-header>
<div class="container">
  <div class="row">

    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <img src="{{api}}images/{{ev.imgpath}}" width="100%" alt="">
      <div class="row" style="margin-top: .5rem;">

        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
          <div class="redtext">Tháng {{ev.event_start | date : "MM"}}</div>
          <div class="datestart">{{ev.event_start | date : "dd"}}</div>
        </div>

        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
          <div class="nameevent" (click)="homeevent()">{{ev.title}} <span style="color: red; font-size: 14px; margin-left: 15px">{{status}}</span></div>
          <div class="createby">
            Được tạo bởi nhóm <span style="color: #007bff; font-weight: 600">{{group.name}}</span>
          </div>
        </div>
      </div>

      <div class="reaction">
        <button type="button" class="btn" [disabled]="(status == 'Đã kết thúc' && isJoin == 'Tham gia') || isAdmin ? true : false" [ngClass]="isJoin == 'Tham gia' ? 'btn-join' : 'btn-leave'" (click)="joinorleave(ev._id)">{{isJoin}}</button>
        <button type="button" class="btn btn-create" [disabled]="status == 'Đã kết thúc' ? true : false" (click)="donate()">Đóng góp</button>
      </div>
      <hr>
      <div class="timer">
        <div class="row">
          <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
            <i class="fa fa-clock-o" aria-hidden="true"></i>
          </div>
          <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
            <span>Start: {{ev.event_start | date : "yyyy-MM-dd"}}</span>
          </div>
          <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
            <i class="fa fa-clock-o" aria-hidden="true"></i>
          </div>
          <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
            <span>End: {{ev.event_end | date : "yyyy-MM-dd"}}</span>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
            <i class="fa fa-users" aria-hidden="true"></i>
          </div>
          <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
            <span>Số lượng tham gia hiện tại: {{totalmember}}</span>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
          </div>
          <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
            <span>{{ev.event_address}}</span>
          </div>
        </div>
      </div>
      <div class="admin" [ngClass]="isAdmin ? 'show': 'hide'">
        <h5>Quản lý</h5>
        <hr>
        <ul class="edit-menu" [ngClass]="isProfile == 'friend' ? 'hidden' : 'show'">
          <li><a (click)="listDonate()">Danh sách đóng góp</a></li>
          <li><a (click)="createReport()">Thống kê chi tiêu</a></li>
          <li [ngClass]="status == 'friend' ? 'hidden' : 'show'"><a (click)="summary()">Tổng kết</a></li>
        </ul>
      </div>
    </div>

    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
      <div class="post-content">
        <div class="post-container">
          <!-- <div class="noplan">Chưa có kế hoạch</div>   -->
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>