<div class="card text-left card-cover">
  
  <div class="editimg cover">
      <img src="{{api}}images/{{group.coverpath}}" alt="">
      <h5 [ngClass]="isAdmin ? 'show': 'hidden'" (click)="openLg(cover)"><i clas class="fa fa-camera" aria-hidden="true"></i><br></h5>
    </div>
    <ng-template #cover let-modal>
      <div class="modal-header">
        <h4 class="modal-title">Cập nhật ảnh bìa</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <input type="file" name="cover" id="cover" ng2FileSelect [uploader]="uploader">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="updateCover()">Cập nhật</button>
      </div>
    </ng-template>
</div>

<form >

  <div class="form-group">
    <label for="title">Tên nhóm</label>
    <h2 style="font-weight: 600; color: #dc3545">{{group.name}}</h2>
  </div>

  <div class="form-group">
    <label for="discription">Mô tả</label>
    <h6>{{group.intro}}</h6>
  </div>

  <div class="form-group">
    <label for="tasks">Vị trí</label>
    <h6>{{group.location_active}}</h6>
  </div>

  <div class="form-group">
    <label for="tasks">Liên hệ</label>
    <h6>{{group.contact}}</h6>
  </div>
</form>