.addmore{
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 1rem;
    cursor: pointer;
}

.right{
    float: right;
}

.list-group-item{
    background-color: transparent !important;
}

.ev-detail{
    margin-top: 1rem;
}

.ev-detail input{
    width: 100%;
}

