.plan{
    display: none;
}

.noplan{
    display: flow-root;
}

.create button{
    float: right;
}

.list-group-item{
    background-color: transparent !important;
}

.list-group-item label{
    font-weight: bold;
}

.fund{
    margin-top: 2rem;
}

.detail h5{
    font-weight: bold;
}

.addmore{
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 1rem;
    cursor: pointer;
}

.right{
    float: right;
}

.center{
    text-align: center;
}

.title h6{
    font-weight: bold;
}

.total-cost{
    font-size: 1.2rem;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 15px;
}

.ev-detail{
    margin-top: 1rem;
}

.ev-detail input{
    width: 100%;
}

.label-notify{
    color: #c40303;
    font-size: .9rem;
}