<div class="edit-profile-container">
  <div class="block-title">
    <h4 class="grey"><i class="fa fa-check-square-o"></i>Chỉnh sửa thông tin cơ bản</h4>
    <div class="line"></div>
    <!-- <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis, quam quas. Rerum quos, eaque, dolorem
      voluptatem rem culpa eligendi facilis eos voluptas quas repellendus, debitis recusandae accusantium? Explicabo,
      delectus nemo?</p> -->
    <div class="line"></div>
  </div>
  <div class="edit-block">

    <form>
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <div class="form-group">
            <label for="firstname">Họ</label>
            <input type="text" class="form-control" id="firstname" value="{{user.firstname}}">
          </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <div class="form-group">
            <label for="lastname">Tên</label>
            <input type="text" class="form-control" id="lastname" value="{{user.lastname}}">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="form-group">
            <label for="email">Email</label>
            <input id="email" class="form-control" type="text" name="Email" value="{{user.email}}">
          </div>
        </div>
      </div>

      <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <label for="birthday">Ngày sinh</label>
        </div>

        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
          <div class="form-group">
            <select class="form-control" id="day">
              <option value="Day">{{user.birthday | date: 'dd'}}</option>
              <option>01</option>
              <option>02</option>
              <option>03</option>
              <option>04</option>
              <option>05</option>
              <option>06</option>
              <option>07</option>
              <option>08</option>
              <option>09</option>
              <option>10</option>
              <option>11</option>
              <option>12</option>
              <option>13</option>
              <option>14</option>
              <option>15</option>
              <option>16</option>
              <option>17</option>
              <option>18</option>
              <option>19</option>
              <option>20</option>
              <option>21</option>
              <option>22</option>
              <option>23</option>
              <option>24</option>
              <option>25</option>
              <option>26</option>
              <option>27</option>
              <option>28</option>
              <option>29</option>
              <option>30</option>
              <option>31</option>
            </select>
          </div>
        </div>

        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
          <div class="form-group">
            <select class="form-control" id="month">
              <option value="month">{{user.birthday | date: 'MM'}}</option>
              <option>Jan</option>
              <option>Feb</option>
              <option>Mar</option>
              <option>Apr</option>
              <option>May</option>
              <option>Jun</option>
              <option>Jul</option>
              <option>Aug</option>
              <option>Sep</option>
              <option>Oct</option>
              <option>Nov</option>
              <option>Dec</option>
            </select>
          </div>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <div class="form-group">
            <select class="form-control" id="year">
              <option value="year">{{user.birthday | date : 'yyyy'}}</option>
              <option>2000</option>
              <option>2001</option>
              <option>2002</option>
              <option>2004</option>
              <option>2005</option>
              <option>2006</option>
              <option>2007</option>
              <option>2008</option>
              <option>2009</option>
              <option>2010</option>
              <option>2011</option>
              <option>2012</option>
            </select>
          </div>
        </div>

      </div>

      <div class="row">

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <div class="form-group">
            <label class="custom-label">Giới tính: </label>
            <select class="form-control" id="gender">
              <option value="gender">{{user.gender}}</option>
              <option>Nam</option>
              <option>Nữ</option>
            </select>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="form-group">
            <label for="address">Địa chỉ</label>
            <input id="address" class="form-control" type="text" name="Address" value="{{user.address}}">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="form-group">
            <label for="address">Giới thiệu bản thân</label>
            <textarea id="address" class="form-control infouser" type="text" name="Address">{{user.about}}</textarea>
          </div>
        </div>
      </div>

      <button type="submit" class="btn btn-primary">Cập nhật</button>
    </form>

  </div>
</div>