<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="friend-list">
      <div class="row">
        <div class="col-md-6 col-sm-6" *ngFor="let member of listMember" >
          <div class="friend-card">
            <img src="{{api}}images/{{member.coverpath}}" alt="profile-cover" class="img-responsive cover">
            <div class="card-info">
              <img src="{{api}}images/{{member.avatarpath}}" alt="user" class="profile-photo-lg">
              <div class="friend-info">
                <i class="fa fa-check pull-right" aria-hidden="true" [ngClass]="member._id == group.admin ? 'show' : 'hide'">&nbsp;Admin</i>
                <h5><a (click)="gotoProfile(member)" class="profile-link">{{member.firstname}} {{member.lastname}}</a></h5>
                <p>{{member.job}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
