.container{
    margin-top: 110px;
}

.card{
    border: 0;
}

.profile-card{
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.profile-card h2{
    color: #dc3545;
    font-weight: 600;
    padding: 15px;
}

.profile-card p{
    padding-left: 15px;
    color: #28a745;
    font-weight: 600;
}

.profile-card img{
    border:3px solid rgb(119, 119, 119);
    /* margin-right: 20px; */
    padding: 3px;
    position: relative;
    /* top: -30px; */
    height: 200px;
    width: 200px;
    border-radius: 50%;
    cursor: pointer;
}

.list-group li.active{
    background: transparent;
}

.list-group li.active a{
    color: #0c1732;
    font-size: 1.5rem;
}

.list-group-item{
    border: 0;
    padding: 0.75rem 0.5rem;
}

.list-group-item a{
    font-size: 1.3rem;
    font-weight: 600;
}

.manager h3{
    padding: 15px 0;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.mng h5{
    font-weight: bold;
}

.mng p{
    color: #bebdbd;
}

.editimg{
    position: relative;
    text-align: left;
    width: 100%;
    bottom: 0;
    color: #636464;
    cursor: pointer;
  }

  .editimg.cover{
    text-align: right !important;
    padding: 5px 30px !important;
    background-color: rgba(255, 255, 255, 0.5);
  }

  .editimg.avatar h5{
      position: absolute;
    /* padding-right: 33%; */
    margin-top: -30px;
    text-align: center;
    margin-left: 30%
  }