<div class="titleEvent">
  <h3>Lập kế hoạch</h3>
  <hr>
  <ul class="list-group">
    <li class="list-group-item">
      <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
          <label for="">Thời gian:</label>
        </div>

        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
          <label for="">Công việc:</label>
        </div>

        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
          <label for="">Chi phí:</label>
        </div>
      </div>
    </li>
    <li class="list-group-item" *ngFor="let plan of lsPlan">
      <app-plan-item [planItem]='plan'></app-plan-item>
    </li>
  </ul>
  <div class="row ev-detail">

    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <input type="datetime-local" class="form-control" name="" id="" [(ngModel)]="newItem.time" [ngModelOptions]="{standalone: true}">
    </div>

    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <input type="text" class="form-control" name="" id="" [(ngModel)]="newItem.work" [ngModelOptions]="{standalone: true}">
    </div>

    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
      <input type="text" class="form-control" name="" id="" [(ngModel)]="newItem.cost" [ngModelOptions]="{standalone: true}">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <button class="btn btn-success btn-add" (click)="addNewItemPlan()" >Thêm</button>
    </div>
  </div>
</div>